[submodule "app/routes/snatch"]
	path = app/routes/snatch
	url = https://github.com/dcep93/snatch
[submodule "app/routes/decrypto"]
	path = app/routes/decrypto
	url = https://github.com/dcep93/decrypto
[submodule "app/routes/spy"]
	path = app/routes/spy
	url = https://github.com/dcep93/spy.git
[submodule "app/routes/qorder"]
	path = app/routes/qorder
	url = https://github.com/dcep93/qorder.git
