[submodule "app/routes/snatch"]
	path = app/routes/snatch
	url = https://github.com/dcep93/snatch
[submodule "app/routes/decrypto"]
	path = app/routes/decrypto
	url = https://github.com/dcep93/decrypto
[submodule "app/routes/spy"]
	path = app/routes/spy
	url = https://github.com/dcep93/spy.git
[submodule "app/routes/timeline"]
	path = app/routes/timeline
	url = https://github.com/dcep93/timeline.git
[submodule "app/routes/skull"]
	path = app/routes/skull
	url = https://github.com/dcep93/skull.git
[submodule "app/routes/fox"]
	path = app/routes/fox
	url = https://github.com/dcep93/fox.git
[submodule "app/routes/parliament"]
	path = app/routes/parliament
	url = https://github.com/dcep93/parliament.git
